<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>智能快递柜</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>

<form class="box" action="result">
  <h1>请联系收件人<br>获取密码</h1>
  <input type="password" name="password" placeholder="请输入密码">
  <input type="submit" name="submit" value="确认">
</form>


  </body>
</html>
